body {
  font-family: Helvetica, serif;
}

.form {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.filter-input {
  padding: 8px;
  border: 1px solid grey;
  border-radius: 4px;
  margin: 20px 20px 20px 12px;
  color: black;
}

.table-wrapper{
  margin: 0;
  box-shadow: 0 35px 50px rgba( 0, 0, 0, 0.2 );
}

.paginator {
  margin: 0;
  background: #f8f8f8;
}

.table {
  border-radius: 5px;
  font-size: 12px;
  font-weight: normal;
  border: none;
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  background-color: white;
}

.table td, .table th {
  text-align: center;
  padding: 8px;
}

.table td {
  border-right: 1px solid #f8f8f8;
  font-size: 12px;
  width: 25%;
}

.table thead th {
  color: #ffffff;
  background: #4FC3A1;
}

.table thead th:nth-child(odd) {
  color: #ffffff;
  background: #324960;
}

.table tr:nth-child(even) {
  background: #F8F8F8;
}

.error {
  border: 2px solid red;
}

.error-text {
  color: red;
}
