<div>
  <form class="form table-wrapper" *ngIf="form" [formGroup]="form">
    <div class="input-wrapper">
      <label class="label">Name: </label>
      <input
        class="filter-input"
        type="text"
        placeholder="Enter product name"
        [formControlName]="filterFormFieldsEnum.NAME">
    </div>

    <div class="input-wrapper">
      <label class="label">Category: </label>
      <select
        class="filter-input"
        [formControlName]="filterFormFieldsEnum.CATEGORY">
        <option value="">Select a category</option>
        <option *ngFor="let category of categories" [value]="category">{{ category }}</option>
      </select>
    </div>

    <div class="input-wrapper">
      <label class="label">Stock amount: </label>
      <input
        class="filter-input"
        type="number"
        placeholder="Enter amount >= than"
        [formControlName]="filterFormFieldsEnum.STOCK_AMOUNT"
        [ngClass]="{ error: isAnyFormControlErrors(filterFormFieldsEnum.STOCK_AMOUNT, 'min') }">
      <p class="error-text" *ngIf="isAnyFormControlErrors(filterFormFieldsEnum.STOCK_AMOUNT, 'min')">
        Stock amount must be greater than 0
      </p>
    </div>

    <div class="input-wrapper">
      <label class="label">Min Price: </label>
      <input
        class="filter-input"
        type="number"
        placeholder="Enter min price"
        [formControlName]="filterFormFieldsEnum.MIN_PRICE"
        [ngClass]="{ error: isAnyFormControlErrors(filterFormFieldsEnum.MIN_PRICE, 'min') }">
      <p class="error-text" *ngIf="isAnyFormControlErrors(filterFormFieldsEnum.MIN_PRICE, 'min')">
        Minimum price must be greater than 0
      </p>
    </div>

    <div class="input-wrapper">
      <label class="label">Max Price: </label>
      <input
        class="filter-input"
        type="number"
        placeholder="Enter max price"
        [formControlName]="filterFormFieldsEnum.MAX_PRICE">
    </div>
  </form>
</div>

<div class="table-wrapper">
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Category</th>
        <th>Stock Amount</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of paginatedProducts; trackBy: trackById">
        <td>{{ product.name }}</td>
        <td>{{ product.category }}</td>
        <td>{{ product.stock_amount }}</td>
        <td>{{ product.price }}</td>
      </tr>
    </tbody>
  </table>
</div>

<mat-paginator
  class="paginator"
  [length]="filteredProducts$.value.length"
  [pageSize]="productsPerPage"
  [pageSizeOptions]="[5, 10, 25, 100]"
  (page)="onPaginateChange($event)">
</mat-paginator>
